.acc-card{
    // border: 1px solid black;
    box-shadow: 3px 3px 3px 3px rgba(47, 6, 226, 0.2);
    padding: 3%;
    width: 75%;
    margin: 0% auto 1% auto;
    border-radius: 5px;

    h1{
        font-weight: 100;
    }

    p{
        font-weight: 100;
    }
}

a{
    text-decoration: none;
    color: black
}