.intro-content{
  border: 1px solid black;
  width: 40%;
  margin: 5% auto 0 auto;
  padding: 2%;

  p{
    font-size: 1.1rem;
    font-weight: 100;
  }
  
  .para-two{
    margin-top: 3%;
  }
} // intro-content